{%extends 'base.html'%}
{% load socialaccount %}
{% load static %}
{% load account socialaccount %}
{% load allauth account %}
{% load allauth %}
{% load i18n %}

{% block body %}

{% get_providers as socialaccount_providers %}

<section class="mb-100">
    <div class="container py-3 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <h3 class="mb-4">Sign in</h3>

                {% if not SOCIALACCOUNT_ONLY %}
                {% setvar link %}
                    <a href="{{ signup_url }}">
                    {% endsetvar %}
                    {% setvar end_link %}
                    </a>
                {% endsetvar %}
                <p>
                    {% blocktranslate %}If you have not created an account yet, then please {{ link }}sign up{{ end_link }} first.{% endblocktranslate %}
                </p>
                {% url 'account_login' as login_url %}
                {% element form form=form method="post" action=login_url tags="entrance,login" %}
                {% csrf_token %}
                    {% slot body %}
                        {% csrf_token %}
                        {% if form.errors %}
                          <div class="alert alert-danger">
                          <strong>Error!</strong>
                          <ul>
                            {% for field, errors in form.errors.items %}
                              {% for error in errors %}
                                <li>{{ error }}</li>
                              {% endfor %}
                            {% endfor %}
                          </ul>
                          </div>
                        {% endif %}
                        
                        <div data-mdb-input-init class="form-outline mb-3">
                          <input type="text" name="login" class="form-control form-control-lg" placeholder="Username" required id="id_login"/>
                        </div>
            
                        <div data-mdb-input-init class="form-outline mb-3">
                          <input type="password" id="id_password" name="password" class="form-control form-control-lg" placeholder="Password"/>
                        </div>
                        
                        {{ redirect_field }}
                    {% endslot %}
                    {% slot actions %}
                        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block" type="submit">{% trans "Sign In" %}</button>
                    {% endslot %}
                {% endelement %}
            {% endif %}
  
              
  
              <!-- Checkbox -->
              <!-- <div class="form-check d-flex justify-content-start mb-3">
                <input class="form-check-input" type="checkbox" value="" id="form1Example3" />
                <label class="form-check-label" for="form1Example3"> Remember password </label>
              </div> -->
  
              <hr class="my-4">

              {% for provider in socialaccount_providers %}
                {% if provider.name == 'Google' %}
                <div>
                    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-lg btn-block btn-primary" style="background-color: #dd4b39;" type="submit"><i class="fab fa-google me-2"></i> <a title="{{provider.name}}" 
                        class="socialaccount_provider {{provider.id}} {{brand.id}}" 
                        href="{% provider_login_url provider.id openid=brand.openid_url%}"
                        style="color:rgb(250, 250, 250)">Sign in with {{provider.name}}</a>
                    </button>
                </div>
                {% endif %}

                {% if provider.name == 'Facebook' %}
                <button data-mdb-button-init data-mdb-ripple-init class="btn btn-lg btn-block btn-primary mb-2" style="background-color: #3b5998;"
                type="submit"><i class="fab fa-facebook-f me-2"></i>Sign in with  {{provider.name}}</button>
                {%endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

{% endblock %}