{% extends 'base.html'%}

{% block body%}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">

    <!-- ============================ COMPONENT LOGIN   ================================= -->
        <div class="card mx-auto" style="max-width: 380px;">
          <div class="card-body">
          <h4 class="card-title mb-4">Give a Review </h4>
          
          <form method='post'>
            {% csrf_token %}
               {{form.as_p}}
              <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block"> Submit  </button>
              </div> <!-- form-group// -->    
          </form>
          <p class="text-center mt-4"> <a href="{% url 'home'%}">skip now</a></p>
          </div> <!-- card-body.// -->
        </div> <!-- card .// -->
    
         <br><br>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}